@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:400,700|Lato:400,700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --bg-color: #eee;
    --header--footer: #F27289;
    --aside: #F2CED5;
}

body {
    background-color: var(--bg-color);
    font-family: 'Lato', Helvetica, Arial;
    font-size: 15px;
    display: flex;
    margin: 0;
    min-height: 100vh;
}

/* Models */

.models {
    display: none;
}

.milk-item {
    text-align: center;
    max-width: 250px;
    font-family: 'Hepta Slab', Helvetica, Arial;
    margin: 0 auto 50px auto;
}

.milk-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.milk-item--img {
    width: 200px;
    height: 200px;
}

.milk-item--img img {
    width: 100%;
    height: auto;
}

.milk-item--add {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background-color: var(--header--footer);
    text-align: center;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    margin-top: -10px;
    transition: all ease .2s;
}

.milk-item a:hover .milk-item--add {
    background-color: #F27279;
}

.milk-item--price {
    font-size: 15px;
    color: #333;
    margin-top: 5px;
}

.milk-item--name {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-top: 5px;
}

.milk-item--desc {
    font-size: 13px;
    color: #555;
    margin-top: 10px;
}

/* Cart */

.cart {
    margin-bottom: 20px;
}

.cart--item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.cart--item img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.cart--item-nome {
    flex: 1;
}

.cart--item--qtarea {
    display: inline-flex;
    background-color: var(--bg-color);
    border-radius: 10px;
    height: 30px;
}

.cart--item--qtarea button {
    border: 0;
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0px 10px;
    color: #333;
}

.cart--item--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color: #000;
}

.cart--totalitem {
    padding: 15px 0;
    border-top: 1px solid var(--header--footer);
    color: #20C1EB;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.cart--totalitem span:first-child {
    font-weight: bold;
}

.cart--totalitem.big {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.cart--finalizar {
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #50BEE9;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    border: 2px solid #60BEE9;
    transition: all ease .2s;
}

.cart--finalizar:hover {
    background-color: #20C1EB;
}

/* Header */

header {
    position: fixed;
    left: 0;
    background-color: var(--header--footer);
    top: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 1rem;
    color: #fff;
}

.menu-openner {
    margin-right: 15px;
    font-size: 26px;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-openner span {
    margin-right: 10px;
}

.menu-closer {
    width: 32px;
    height: 32px;
    display: none;
    font-size: 30px;
}

/* Aside */

aside {
    background-color: var(--aside);
    width: 0vw;
    font-family: 'Hepta Slab', Helvetica, Arial;
    transition: all ease .2s;
    overflow-x: hidden;
}

aside.show {
    width: 30vw;
}

.cart--area {
    margin-top: 30px;
    padding: 20px;
}

.cart--area h1 {
    display: relative;
}

/* Main */

main {
    flex: 1;
    padding: 20px;
    margin-top: 60px;
}

h1,
h2 {
    font-family: 'Hepta Slab', Helvetica, Arial;
    text-align: center;
}

.milkshake-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cascao-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.kids-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer {
    left: 0;
    right: 0;
    height: 60px;
    background-color: var(--header--footer);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

/* MilkshakeWindowArea */

.milkshakeWindowArea {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.milkshakeWindowBody {
    width: 900px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #999;
    display: flex;
    margin: 20px 0px;
}

.milkshakeBig {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.milkshakeBig--back {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #000;
}

.milkshakeBig img {
    height: 400px;
    width: auto;
}

.milkshakeInfo {
    flex: 1;
    padding-bottom: 50px;
    font-family: 'Hepta Slab', Helvetica, Arial;
}

.milkshakeInfo h1 {
    margin-top: 50px;
}

.milkshakeInfo .milkshakeInfo--desc {
    font-size: 15px;
    color: #999;
    margin-top: 10px;
    font-family: 'Lato', Helvetica, Arial;
}

.milkshakeInfo--sector {
    color: #ccc;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.milkshekInfo--sizes {
    display: inline-flex;
    border-radius: 10px;
    overflow: hidden;
}

.milkshakeInfo--size {
    padding: 10px 15px;
    color: #000;
    background-color: #eee;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.milkshakeInfo--size:hover {
    background-color: #ccc;
}

.milkshakeInfo--size.selected {
    background-color: var(--header--footer);
    color: #fff;
}

.milkshakeInfo--size.selected span {
    color: #F2CED5;
}

.milkshakeInfo--size span {
    font-size: 12px;
    color: #999;
    font-weight: normal;
}

.milkshakeInfo--price {
    display: flex;
    align-items: center;
}

.milkshakeInfo--actualPrice {
    font-size: 20px;
    margin-right: 30px;
}

.milkshakeInfo--qtarea {
    display: inline-flex;
    background-color: #eee;
    border-radius: 10px;
    height: 30px;
}

.milkshakeInfo--qtarea button {
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0px 10px;
    color: #333;
    border: 0;
}

.milkshakeInfo--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color: #000;
}

.milkshakeInfo--addButton {
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: #50BEE9;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
}

.milkshakeInfo--addButton:hover {
    background-color: #20C1EB;
}

.milkshakeInfo--cancelButton {
    display: inline-block;
    cursor: pointer;
}

.milkshakeInfo--cancelMobileButton {
    display: none;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 30px;
}